html, body{
    margin: 0;
    padding: 1rem;
    background-color: black;
    min-height: 100vh;
    color: white;
    text-align: center;
}

h1{
    font-size: 3rem;
}

.outer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.container1{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.searchbar{
    position: relative;
    width: 38vw;
    display: flex;
    flex-direction: row;
    /* height: auto; */
}

#search{
    border: 0;
    padding: 0.5rem;
    border-radius:8px;
    width: inherit;
    background-color: rgb(215, 210, 210);
    min-height: 2.5rem;
    font-size: 1.25rem;
}

#search:focus{
    outline: none;
}

.place_list{
    position: absolute;
    width: inherit;
    max-height: 17rem;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(215, 210, 210);
    top: 110%;
    left: 0.3%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    /* padding-bottom: 0.2rem; */
}

.list_item{
    width: inherit;
    color: black;
    min-height: 45px;
    background-color: rgb(215, 210, 210);
    width: 35vw;
    padding: 0.5rem 0;
    padding-left: 15px;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.list_item:hover{
    background-color: rgb(172, 167, 167);
    scale: 1.075;
    transform: translateX(20px);
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
    align-items: center;
    margin-left: 12vw;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.container2{
    display: flex;
    flex-direction:row;
    gap: 8rem;
}

.container2 > div{
    width: 17vw;
    height: 13vw;
}

.img_container{
    position: absolute;
    top: 12%;
    left: 92%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0.1px 0.1px 13px 1px grey;
}

#box1{
    font-size: 5rem;
}

#box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon_container{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

#box2 > .icon_container{
    width: 7rem;
    height: 7rem;
}

#box2 > .text{
    font-size: 1.7rem;
    word-break:break-all ;
}

#box2 > .icon_container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box3{
    height: auto;
    width: auto;
    padding: 15px;
    gap: 0.65rem;
    word-break:keep-all;
}

#box4{
    width: 20vw;
    height: 40vw;
}

.hourly_weather{
    padding: 0.25rem;
    width: 3.5rem;
    min-height:8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hourly_weather > .temperature{
    font-size: 1.35rem;
}

.hourly_weather > .icon_container{
    height: 4rem;
    width: 3rem;
    display: flex;
    align-items: center;
}

.hourly_weather > .icon_container > img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.hourly_weather > .time{
    min-height: 2rem;
    font-size: 1.35rem;
    display: flex;
    align-items: center;
}

.hourly_weather > .text{
    min-height: 3.5rem;
    display: flex;
    align-items: center;
}

.day{
    height: auto;
    width: inherit;
}